services:
### M3U Obtaining Pipeline: Zeronet -> M3USource (microservice) -> Dispatcharr -> Endclient
    zeronet:
        cap_add:
          - NET_ADMIN
          - SYS_ADMIN
        image: ghcr.io/krinkuto11/zeronet-eguzkilore
        container_name: zeronet
        environment:
          - PUID=1000
          - PGID=1000
          - TZ=Europe/Madrid
        volumes:
          - /srv/docker/config/zeronet:/app/ZeroNet/data
        restart: unless-stopped
        network_mode: "container:gluetun"

    m3usource:
      image: ghcr.io/krinkuto11/m3usource:latest
      container_name: m3usource
      ports:
        - 5000:5000
      environment:
        - FLASK_ENV=development
      restart: always
      network_mode: "container:gluetun"
      depends_on:
        dispatcharr:
            condition: service_started
        

    dispatcharr:
      image: ghcr.io/dispatcharr/dispatcharr:latest
      container_name: dispatcharr
      ports:
        - 9191:9191
      volumes:
        - /srv/docker/databases/dispatcharr:/data
      environment:
        - DISPATCHARR_ENV=aio
        - REDIS_HOST=localhost
        - CELERY_BROKER_URL=redis://localhost:6379/0
        - PGID=1000
        - PUID=1000
        - TZ=Europe/Madrid
      #devices:
      #  - /dev/dri:/dev/dri  # For Intel/AMD GPU acceleration (VA-API)  
      restart: unless-stopped
      networks:
        - aceserver

    stream-checker:
      image: ghcr.io/krinkuto11/streamflow:latest
      container_name: streamflow
      networks:
        - aceserver
      environment:
        - API_HOST=0.0.0.0
        - API_PORT=3000
        - DISPATCHARR_BASE_URL=http://dispatcharr:9191
        - DISPATCHARR_USER=
        - DISPATCHARR_PASS=
        - DEBUG_MODE=false
        - CONFIG_DIR=/app/data
        - TZ=Europe/Madrid
        - PGID=1000
        - PUID=1000
      ports:
        - "3000:3000"
      volumes:
        - /srv/docker/databases/stream_checker:/app/data
      healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:5000/api/health"]
        interval: 30s
        timeout: 10s
        retries: 3
        start_period: 40s
      restart: unless-stopped
        
networks:
  aceserver:
    external: true
